        /*WEBAGENCY CSS*/
 
 
@font-face
{
    font-family:'fontawesome';
    src:url('assets/fonts/fontawesome-webfont.ttf');
    src:url('assets/fonts/fontawesome-webfont.eot'),
        url('assets/fonts/fontawesome-webfont.svg'),
        url('assets/fonts/FontAwesome.otf'),
        url('assets/fonts/fontawesome-webfont.woff');
}
 
@font-face
{
    font-family:'glyphicons';
    src: url('assets/fonts/glyphicons-halflings-regular.eot');
    src: url('assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/glyphicons-halflings-regular.woff') format('woff'),
         url('assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
         url('assets/fonts/glyphicons-halflings-regular.svg#BallparkWeiner') format('svg');
}      
 
@font-face
{
    font-family:"Roboto-Bold";
    src: url('assets/fonts/Roboto-Bold.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;
}
 
@font-face
{
    font-family:'Roboto-Black';
    src: url('fonts/Roboto-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
   
    font-family:'Roboto-Light';
    src: url('assets/fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 
@font-face
{
    font-family:'Roboto-Medium';
    src: url('assets/fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 
body
{
    font-family:'Roboto-Bold','Trebuchet MS', Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}
 
            /*PAGE D'ACCUEIL*/
 
#accueil
{
    width: 100%;
  
}
 
#accueil header
{
    position: fixed;
    position: -webkit-sticky; /* Safari */
    position: sticky;
	top: 0px;
	z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
	width: 100%;
	height: 6vw;
	overflow: hidden;
}
 
#logo
{
    margin-left: 12%;
	height: 3.6vw;
}
 
 
#accueil header ul
{
    display: flex;
	font-weight: bold;
    list-style:none;
    align-items: center;
	margin: auto;
	position: absolute;
	right: 15%;
    height: 100%;
	border-top: 0.3vw transparent solid;
	border-bottom: 0.3vw transparent solid;

}
 
#accueil header li
{
   
    font-size: 0.9vw;
    color:#919191;
    line-height: 6vw;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
	height: 100%;
	border-top: 0.3vw transparent solid;
    
}
 
#accueil header li:hover
{
    border-top: 0.3vw  #1facca  groove;
    color: #727272;
}
 
#accueil header a
{
    text-decoration: none;
    color:#919191;
}
 
                /*Accueil Slider*/
 
 
#background
{
    width: 100%;
	min-width: 0;
}

#background2
{
    width: 100%;
	min-width: 0;
}

#slideshow
{
	animation : slidein 15s ease-in-out infinite alternate;
	position: relative;
	top: 0px;
	left: 0px;
	display: flex;
	width: 200%;
}

@-webkit-keyframes slidein {
	
from {
	top: 0px;
	left: 0px;
	}
40% {top: 0px;
	left: 0px;}
60%{left: -100%;}
to {
	left: -100%;
	}
}
 
@keyframes slidein {
from {
	top: 0px;
	left: 0px;
	}
40% {top: 0px;
	left: 0px;}
60%{left: -100%;}
to {
	left: -100%;
	}
}

@-moz-keyframes slidein {
from {
	top: 0px;
	left: 0px;
	}
40% {top: 0px;
	left: 0px;}
60%{left: -100%;}
to {
	left: -100%;
	}
}

	

section
{
	 position: relative;
	 width: 100%;
	 overflow: hidden;
}
 
 
#description
{
    color:white;
	position: absolute;
	top: 25%;
	left: 12%;
	width: 36%;
    font-size: 1.5vw; 
}
 
h1
{
    text-transform:uppercase;
    margin-bottom: 0px;
}
   
strong
{
    color:  #5FAFC0;
}
 
#description p
{
    font-size: 1.2vw;
	font-family: 'Roboto-Bold';
    margin-bottom: 7%;
	line-height: 100%;
}
 
#description a
{
    font-family:'Roboto-Medium';
    text-decoration: none;
    background-color: #5FAFC0;
    color: white;
    font-size: 0.9em;
    padding: 9px 12px;
    border-radius: 4px;
    border-bottom: 2px  #559baa solid;
}
 
 
                /* Chevrons côté */
				
#arrow-container
{
	position: absolute;
	top: 45%;
	height: 11%;
	overflow : hidden;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
   
#left_circle
{  
    background: url("assets/images/icones/circle-solid.svg") no-repeat;
    position: relative;
    right: 1.5%;
    width: 4.5%;
}
 
#left
{
    background:url("assets/images/icones/chevron-left-solid.svg") no-repeat;
    position: absolute;
	top: 32%;
    right: 30%;
    height: 32%;
    width: 25%;
   
}
 
#right_circle
{  
    background: url("assets/images/icones/circle-solid.svg") no-repeat;
    position: relative;
    left: 2%;
    width: 4.5%;
}
 
#right
{
    background:url("assets/images/icones/chevron-right-solid.svg") no-repeat;
    position: absolute;
	top: 32%;
    left: 25%;
    height: 32%;
    width: 25%; 
}

#left, #right:hover
{
	cursor:pointer;
}


				/* Entête block 2 et 3 */

p
{
	font-family: 'Roboto-medium';
	font-size: 1.2vw;
	line-height: 190%;
} 

.header-block
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
}

h2
{
	font-size: 3.5vw;
	margin-bottom: 1vw;
}

.line-services
{
	width: 11vw;
}

.header-block p
{
	width: 60%;
	text-align: center;
	margin-top: 1.4vw;
}

              /* PAGE NOS SERVICES */
	
#services
{
    width: 100%;
	padding-top: 5%;
}

#main-services
{
	display: flex;
	margin-top: 4%;
	justify-content: space-around;
}

#computer-image
{
	flex: 1.1;
	text-align: right;
}

#computer-image img
{
	width: 85%;
}

#main-services ul
{
	flex: 1;
	list-style: none;
	margin: 4% 5% 0% 3%;
}

#main-services li
{
	display: flex;
	font-family: 'Roboto-medium';
}

.icones-services
{
	width: 11%;
	height: 11%;
	margin-right: 3.5%;
}

.list-services
{
	text-align: justify;
	width: 100%;
}

.list-services h3
{
	margin-top: 2%;
	margin-bottom: 1%;
	font-size: 1.5vw;
}

.list-services p
{
	width: 100%;
	margin-top: 1%;
	padding-right:2%;
}


              /* PAGE PORTFOLIO */
			  
#portfolio
{
    width: 100%;
	padding-top: 5%;
}
											/*Entete au niveau du block 2*/
#portfolio ul
{
	background : #ececec;
	display:flex;
	justify-content: center;
	align-items:center;
	list-style: none;
	font-size: 1.3vw;
	margin: 4% auto;
	padding: 0;
    width: 40%;
	border-radius: 0.3vw;
}

#portfolio li
{
	padding: 2.5%;
	width: 8vw;
	text-align: center;
	position: relative;
	border-top: 0.3vw transparent outset;
	border-bottom: 0.3vw transparent outset;
}

li:first-child
{
	border-radius: 0.3vw 0 0 0.3vw;
}

li:last-child
{
	border-radius: 0 0.3vw 0.3vw 0;
}


					/* Menu interactif */
					
#portfolio li:hover
{
	color: white;
	background: #1facca;
	border-bottom: 0.3vw  #3bcaff outset;
	
}

#portfolio a 
{
	text-decoration: none;
	color: black;
}
					/* Zone de survole/cliquable étendue*/
#portfolio a::before
{
	content: '';
    position: absolute;
    left: 0;
	top: 0;
    width: 100%;
    height: 100%;
}

#portfolio a:hover
{
	color: white;
}
					/* Animation petite fleche*/
.triangle
{
	display: none;
	width: 1.8vw;
    position: absolute;
    left: 40%;
    bottom: -33%;
}

#portfolio li:hover .triangle {display:block}

#portfolio-pictures
{
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	margin: 2.5%;
}

.pictures
{
	width: 20%;
	margin: 1.2%;
	position:relative;
	overflow: hidden;
}

.stickers
{
	width: 100%;
	height:100%;

}

.pictures strong
{
	color: white;
}

.pictures p
{
	
	background: rgba(38,44,48,0.5);
	color: white;
	position: absolute;
	bottom: -5vw;
	left: 0;
	margin: 0;
	width: 100%;
	padding-bottom: 1%;
	line-height:170%;
}

.eye
{
	position: absolute;
	right: 0.6vw;
	bottom: -2.8vw;
	width: 15%;
}
					/*Transition sur les images*/
.pictures:hover p 
{
	bottom: 0;
	left: 0;
	transition : all 0.7s;
}

.pictures:hover .eye 
{
	right: 0.6vw;
	bottom: 2.8vw;
	transition: all 1s;
}