			/*WEBAGENCY CSS*/


@font-face
{
	font-family:'fontawesome';
	src:url('fonts/fontawesome-webfont.ttf');
	src:url('fonts/fontawesome-webfont.eot'),
		url('fonts/fontawesome-webfont.svg'),
		url('fonts/FontAwesome.otf'),
		url('fonts/fontawesome-webfont.woff');
}

@font-face
{
	font-family:'glyphicons';
    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/glyphicons-halflings-regular.woff') format('woff'),
         url('fonts/glyphicons-halflings-regular.ttf') format('truetype'),
         url('fonts/glyphicons-halflings-regular.svg#BallparkWeiner') format('svg');
}		

@font-face
{
	font-family:"Roboto-Bold";
	src: url('fonts/Roboto-Bold.ttf') format('truetype');
	font-weight:bold;
	font-style:normal;
}

@font-face
{
	font-family:'Roboto-Black';
	src: url('fonts/Roboto-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	
	font-family:'Roboto-Light';
	src: url('fonts/Roboto-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family:'Roboto-Medium';
	src: url('fonts/Roboto-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body
{
	font-family:'Roboto-Bold','Trebuchet MS', Arial, sans-serif;
	background-color: white;
	margin: 0;
	padding: 0;
	max-width: 1600px;
	margin: auto;
	

}

			/*PAGE D'ACCUEIL*/

#accueil
{
	width: 100%;
	max-width: 1600px;
	margin: auto;
	height: 1200px;
}

#accueil header
{
	position: fixed;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	height: 100px;
	width: 100%;
	z-index: 3;
	max-width: 1600px;
	min-width: 600px;
	margin: auto;
}

#logo
{
	margin-left: 130px;
	width: auto;
}


#accueil header ul
{
	display: flex;
	position: relative;
	list-style:none;
	align-items: center;
	height: 100%;
	margin-right: 210px;
}

#accueil header li
{
	
	font-size: 0.9em;
	color:#919191;
	line-height: 100px;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	height: 100%;
}

#accueil header li:hover
{
	border-top: 3px  #6adcf4  groove;
	color: #727272;
}

#accueil header a
{
	text-decoration: none;
	color:#919191;
}

				/*Accueil Slider*/

section
{
	background:url("images/slider/bg1.jpg") no-repeat;
	height: 45%;
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


#description
{
	color:white;
	position: absolute;
	top: 35%;
	left: 15%;
	font-size: 1.5em;
	width: 600px;
	height: 25%;

	
}

h1
{
	text-transform:uppercase;
	margin-bottom: 0px;
}
	
strong
{
	color: 	#5FAFC0;
}

#description p
{
	font-size: 0.8em;
	padding-bottom: 20px;
}

#description a
{
	font-family:'Roboto-Medium';
	text-decoration: none;
	background-color: #5FAFC0;
	color: white;
	font-size: 0.9em;
	padding: 9px 12px;
	border-radius: 4px;
	border-bottom: 2px  #559baa solid;
}


				/* Chevrons côté */
	
#left_circle
{	
	background: url("circle-solid.svg") no-repeat;
	position: relative;
	right: 30px;
	height: 70px;
	width: 70px;
}

#left
{
	background:url("chevron-left-solid.svg") no-repeat;
	position: relative;
	top: 22.5px;
	left: 40px;
	height: 22px;
	width: auto;
	
}

#right_circle
{	
	background: url("circle-solid.svg") no-repeat;
	position: relative;
	left: 30px;
	height: 70px;
	width: 70px;
}

#right
{
	background:url("chevron-right-solid.svg") no-repeat;
	position: relative;
	top: 22.5px;
	left: 15px;
	height: 22px;
	width: auto;
}

			/*WEB-RESPONSIVE*/
			
@media screen and (max-width: 840px)
{
	
	#logo
	{
		margin: auto;
		height: auto;
		width: 200px;
	}
	
	#accueil header
	{
		
		height: 7%;
		width: 100%;
		min-width: 400px;
		margin: auto;
	}


	#accueil header ul
	{
		display: flex;
		position: relative;
		list-style:none;
		align-items: center;
		height: 100%;
		margin-left: 0px;
	}

	#accueil header li
	{
		
		font-size: 0.8em;
		line-height: 90px;
		padding-left: 5px;
		padding-right: 5px;

	}
	
	#description
	{
		color:white;
		position: absolute;	
		font-size: 1.5em;
		width: auto;
		height: 25%;
	}
	
	section
	{
		left: -100px;
	}

}